.filter-board {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  max-width: 95%;
  height: 100px;
}

.option-card {
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}
