.small-boi {
  height: 15px;
  width: 10px;
}

.my-container {
  justify-content: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40%;
  width: 90%; 
  padding: 10px;
}

.center-msg {

}
