.trunc-text {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.my-bold {
  font-weight: bold;
  font-size: 20px;
}

.pad-top {
  margin-top: 10px;
}

.inbtn {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.card-point {
  cursor: pointer;
}
